{% extends "base.html" %}

{% block header %}Список Групп{% endblock %}

{% block content %}
{% if groups_list %}
        <table class="table table-striped" id="studs">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Наименование</th>
                    <th>Староста</th>
                    <th class="text-center">Кол-во человек</th>
                    <th class="text-center">Действие</th>
                <tr>
            </thead>
            <tbody class="table_body">
            {% for group in groups_list %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td><a href="{{ url_for('group.studs_list', group_id=group.id) }}">{{ group.name }}</a></td>
                    <td>{% if group.starosta %}{{ group.starosta }}{% endif %}</td>
                    <td class="text-center">{{ group.stud_set.count() }}</td>
                    <td class="text-center"><a href="{{ url_for('group.group_edit', group_id=group.id) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% else %}
    <p>No groups are avaliable</p>
{% endif %}

        <form method="LINK" action="{{ url_for('group.group_create') }}" class="text-right">
            <input type="submit" value="Создать" class="btn btn-default">
        </form>

{% endblock content %}

