{% extends "base.html" %}

{% block header %}Вход в систему{% endblock %}

{% block loginout %}{% endblock loginout %}

{% block content %}
        {% if error_message %}<p class="text-center text-danger"><strong>{{ error_message }}</strong></p>{% endif %}
        <form method="post" action="." class="form-horizontal">
            {{ form.csrf_token }}
            {% for field in form %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label(class="col-sm-3 control-label") }}
                <div class="col-sm-5">
                 {% if field.name == 'password' %}
                  {{ field(class="form-control", type="password") }}
                 {% else %}
                  {{ field(class="form-control") }}
                 {% endif %}
                </div>
                {% if field.errors %}
                  <ul class="list-unstyled">
                  {% for error in field.errors %}
                    <li class="text-danger">{{ error|e }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-1">
                <input type="submit" class="btn btn-default" value="Вход" />
              </div>
            </div>
            <input type="hidden" name="next" value="{% if next %}{{next}}{% else %}{{ url_for('group.groups_list') }}{% endif %}" />
        </form>
{% endblock %}
